{%- include common/rest/site_pages.liquid -%}
{%- include common/rest/workdir.liquid workdir=page.dir -%}

{%- for item in workdir_files %}
<div class="d-flex flex-row">
<div class="p-1">[{{ item.title | default: item.name }}]({{ item.url | relative_url }})</div>
</div>
{%- endfor -%}

{%- if include.all -%}
    {%- for workdir in workdir_dirs %}{% include common/core/_hlist.liquid %}{% endfor -%}
{%- endif -%}
