<div class="toasts goal mb-4">
    <div class="title px-2 py-1">
        <i class="fa fa-graduation-cap"></i>
        {{ __.goal | default: "Goal" }}
    </div>
    <div class="content px-2 py-3">
        {{ codes | markdownify | strip_newlines -}}
    </div>
</div>
