<div class="toasts todo mb-4">
    <div class="title px-2 py-1">
        <i class="fa fa-list-ul"></i>
        {{ __.todo | default: "Todo" }}
    </div>
    <div class="content px-2 py-3">
        {{ codes | markdownify | strip_newlines -}}
    </div>
</div>
